<%-include("partials/header")-%>
<div class="form">
<form action="/" method="post">
    Enter the location:<input type="text" name="location" placeholder="Name of Place">
    <button class="submit">Submit</button>
</form>
</div>
<%-include("partials/footer")-%>
